{
  "DATABASE_URI" : "mongodb://<user_name>:<user_password>@<db_host>:<port>/<app_name>",
  "DATBASE_USER_NAME" : "",
  "DATABASE_USER_PASSWORD" : "",
  "GOODREADS_KEY" : "",
  "GOODREADS_SECRET_KEY" : ""
}
