<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/addBookDetails.css">
  {%include "partials/_global_head.njk"%}
</head>
<body>
  <div class="wrapper">
    {%include "partials/_nav_bar.njk"%}
    <img class="cover" src="{{book.cover}}">
    <div class="publication-details">
      <div class="title">
        {{book.title}}
      </div>
      <div class="author">
        {{book.author}}
      </div>
      <div class="publication-year">
        {{book.publicationYear}}
      </div>
    </div>
    <div class="description">
      {{book.description}}
    </div>
    <form class="add-book-details-form" method="post">
      <select name="_id" class="issue-list">
        {%for issue in listOfIssues%}
        <option value="{{issue._id}}">{{issue.title}}</option>
        {%endfor%}
      </select>
      <textarea name="issueDescription" class="issue-description" rows="8" cols="40" placeholder="Describe how this book tackles the issue"></textarea>
      <input type="hidden" name="bookID" value="{{book.bookID}}">
      <input type="submit" name="submit" value="Submit" class="small-button description-submit-button">
    </form>
  </div>
</body>
