<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/addBook.css">
  {%include "partials/_global_head.njk"%}
</head>
<body>
  <div class="wrapper">
    <h1 class="page-title">
      Submit a book
    </h1>
    <form class="submission" method="get">
      <input class="input-box" type="text" name="search" placeholder="Enter a title or ISBN">
      <input class="large-button" type="submit">
    </form>
    <div class="results-list">
      {%for work in listOfWorks %}
      <div class="work">
        <div class="book-title">
          {{work.title}}
        </div>
        <div class="author">
          {{work.author}}
        </div>
        <div class="publication-year">
          {{work.publicationYear}}
        </div>
        <a class="small-button add-book" href="/add/book/{{work.bookID}}">
          Add
        </a>
      </div>
      {%endfor%}
    </div>
  </div>
</body>
</html>
