<!DOCTYPE html>
<html lang="en">
<head>
  {%include "partials/_global_head.njk"%}
  <link rel="stylesheet" href="/home.css">
</head>
<body>
  <div class="wrapper">
  {%include "partials/_nav_bar.njk"%}
  </div>
</body>
</html>
