<!DOCTYPE html>
<html>
  <head>
    <title>Read this issue</title>
    <link rel="stylesheet" href="/css/home.css"/>
  </head>
  <body>
    <div class="wrapper">
      {% include "partials/_home_featured_issues.njk" %}
    </div>
  </body>
</html>
