.page-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.5rem;
  text-align: center;
  color: #0E7C7B;
  width: 100%; }

.button, .small-button, .large-button {
  padding: 0.5rem;
  background-color: #0E7C7B;
  text-align: center;
  color: #DBE9EE;
  border: 0;
  margin: 0.5rem 0;
  text-decoration: none; }

.small-button {
  font-size: 1.1rem; }

.large-button {
  font-size: 1.5rem; }

.input-box {
  padding: 0.5rem;
  background-color: #C0D6DF;
  font-size: 1.5rem;
  color: #4F6D7A;
  border: 0;
  margin: 0.5rem; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-family: "Muli", sans-serif; }

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  -ms-flex-direction: column;
      flex-direction: column; }
  .wrapper .page-title {
    -ms-flex-order: 1;
        order: 1;
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .wrapper form {
    -ms-flex-order: 2;
        order: 2;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
  .wrapper .results-list {
    -ms-flex-order: 3;
        order: 3;
    -ms-flex: 1;
        flex: 1;
    max-width: 800px;
    margin-top: 1rem; }
    .wrapper .results-list .work {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      width: 100%;
      margin: 1.5rem 0;
      -ms-flex-align: center;
          align-items: center; }
      .wrapper .results-list .work .book-title {
        -ms-flex-order: 1;
            order: 1;
        max-width: 50%;
        margin-right: 1rem; }
      .wrapper .results-list .work .author {
        -ms-flex-order: 2;
            order: 2;
        -ms-flex: 1;
            flex: 1;
        margin-right: 1rem;
        text-align: right; }
      .wrapper .results-list .work .publication-year {
        -ms-flex-order: 3;
            order: 3;
        max-width: 30%;
        text-align: right; }
      .wrapper .results-list .work .add-book {
        -ms-flex-order: 4;
            order: 4; }
