<div class="featured-issues-wrapper">
  {%for issue in featuredIssues %}
    <div class="featured-issue issue-{{loop.index}}">
      <h2 class="issue-title">
        {{issue.title}}
      </h2>
      <div class="list-of-books">
        {% for book in issue.bookList %}
          <div class="book-cover" style="background-image:url({{book.url}})">
          </div>
        {% endfor %}
      </div>
      <div class="see-more">
        More books >>
      </div>
    </div>
  {% endfor %}
  <div class="title-box">
    <h1>Read This Issue</h1>
    <h3 class="site-description">
      Lists of books to help you understand an issues, social problems, and little discussed attrocities
    </h3>
  </div>
</div>
