<div class="cta-wrapper">
  <h2 class="cta-title"> How you can help</h2>
  <h3 class="cta-description">
    Read This Issue is currently in beta. There are several ways you can help make this site a better resource for everyone.
  </h3>
  <div class="cta-blocks-wrapper">
    <div class="cta submit-issue">
      <h2>
        Submit an issue to be listed on this site
      </h2>
    </div>
    <div class="cta submit-book">
      <h2>
        Submit a book to a new or existing list
      </h2>
    </div>
    <div class="cta share">
      <h2>
        Tell others about Read This Issue
      </h2>
    </div>
  </div>
</div>
