<div class="nav-wrapper">
  <h2 class="site-title">
    Read This Issue
  </h2>
  <nav class="nav-list">
    {% for item in navigation%}
    <a class="nav-item" href="{{item.URL}}">
      {{item.title}}
    </a>
    {%endfor%}

  </nav>

</div>
