$primary-colour: #003459;
$secondary-colour: #4F6D7A;
$tertiary-colour: #C0D6DF;
$background-colour: #DBE9EE;

$small-spacing: 0.5rem;
$medium-spacing: 1rem;
$large-spacing: 1.5rem;

$max-column-width: 900px;


$header-font: 'Roboto Condensed', sans-serif;
$content-font: 'Muli', sans-serif;

$large-header-size: 3.5rem;
$medium-header-size: 2.5rem;
$small-header-size: 1.5rem;
$content-text-size: 1.1rem;

$breakpoint-1: 500px;
$breakpoint-2: 900px;
