.featured-issues-wrapper {
  order: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vh;

  .featured-issue {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50vh;

    &.issue-1 {
      background-color: rgba(0, 23, 31, 0.7);
    }

    &.issue-2 {
      background-color: rgba(0, 23, 31, 0.77);
    }

    &.issue-3 {
      background-color: rgba(0, 23, 31, 0.8);
    }

    .issue-title {
      order: 1;
      width: 100%;
      text-align: left;
      padding: $small-spacing $medium-spacing;
      box-sizing: border-box;
    }

    .list-of-books{
      order: 2;
      flex-direction: row;
      margin-top: $medium-spacing;
      flex-wrap: nowrap;
      width: 100%;

        .book-cover {
          width: 30%;
          height: 28vh;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          display: inline-block;
        }

        h3 {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          text-align: center;
        }
    }
    .see-more {
      order: 3;
      font-weight: 300;
      font-style: $header-font;
      font-size: $small-header-size;
      text-align: right;
      margin: $medium-spacing;
    }
  }

  .title-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 23, 31, 0.74);
    justify-content: center;
    align-items: center;

    h1 {
      order: 1;
    }

    .site-description {
      order: 2;
      margin: $small-spacing;
      text-align: center;
    }

  }
}
