.nav-wrapper {
  position: fixed;
  top:0px;
  background: white;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .site-title {
    order: 1;
    margin-left: $medium-spacing;
    margin-top: $small-spacing;
    text-align: left;
    color: $primary-colour;
  }


  .nav-list {
    order: 2;
    margin-right: $medium-spacing;
    display: flex;
    align-items: flex-end;

    .nav-item {
      text-align: right;
      margin-left: $large-spacing;
      text-decoration: none;
      font-size: $small-header-size;
      color: $secondary-colour;
    }

  }

}
